<ion-view view-title="{{ title | translate }}" class="appBackground">
    <ion-content>
    <div class="center-div under">
  		<div class="card padding" ng-class="{'flipped': rotate}" ng-click="flip(index)" >
  			<div class="row">
	         	<div class="col col-90" ng-class="{'reflip relocate-title': rotate}">
	         		<h2>{{content.titleToShow}}</h2>
	         	</div>
	         	<div class="col col-10 large-icon center-text" ng-class="{'relocate-icon': rotate}">
	         		<i class="icon ion-loop center-text"></i>
	         	</div>
	        </div>
         	<div class="row" ng-class="{'reflip relocate-text': rotate}">
	         	<div class="col">
	         		<p>{{content.textToShow}}</p>
	         	</div>
         	</div>
      	</div>
      	
    </div>
    
    </ion-content>
</ion-view>


