<ion-view view-title="{{ title | translate }}" class="appBackground">
    <ion-content>
    <ion-slide-box show-pager="false" on-slide-changed="resetFlip()">
      <ion-slide  ng-repeat="card in cards">
        <div ng-class="{'flipped': flipped}" class="card" >
          <div class="row">
            <div class="col col-offset-10 col-80 center-text" ng-class="{'reflip relocate-title': flipped}">
              <h2>{{card.title}}</h2>
            </div>
            <a class="col col-10 large-icon center-text top-corner-right" ng-class="{'relocate-icon': flipped}" ng-click="flip($index)" >
              <i class="icon ion-loop center-text"></i>
            </a>
          </div>
          <div class="row" ng-class="{'reflip relocate-text': flipped}">
            <div class="col">
              <p ng-show="!flipped">{{card.text_1}}</p>
              <p ng-show="flipped">{{card.text_2}}</p>
            </div>
          </div>
        </div>  
      </ion-slide>
    </ion-slide-box>
    </ion-content>
</ion-view>


