.card {
	background-color: #47C2EA;
	height: 250px;
	margin: 5px;
	cursor: pointer;
	transform-style: preserve-3d;
	transition: all 0.9s ease 0s;
}

.push-icon {
	position:relative; 
	top: 40px; 
}

.center-text {
	text-align: center;
}

.large-icon {
	font-size: 250%; 
}

.center-card {
	position:relative; 
	top:180px;
}


.card.flipped-vertical {
	-webkit-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.card.flipped-horizontal {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
